
.articulo-la-raza img{
    width: 500px;
}

.parrafo-el-criadero{
    padding: 10px;
}
.parrafo-la-raza{
    padding: 10px;
}
.articulo-el-criadero img{
    height:350px;
}

@media (max-width:845px){
.foto-la-raza {
    width: 50%;
    }
.foto-el-criadero {
    width: 50%;
    }
.parrafo-el-criadero{
    padding: 10px;
}
.parrafo-la-raza{
    padding: 10px;
}
}

@media (max-width: 565px){
.articulo-la-raza img {
    width: 70%;
    padding: 10px;
    }
    .articulo-el-criadero img {
    width:70%;
    padding: 10px;
    }
}
@media (max-width: 524px){
.parrafo-el-criadero {
    text-align: justify;
    padding: 10px;
    }
.parrafo-la-raza {
    text-align: justify;
    padding: 10px;
    }
    p {
    font-size: 1rem;
    padding: 10px;
    text-align: justify;
    }
.articulo-la-raza {
    flex-direction: column;
    text-align: justify;
    width: 100%;
    }
.articulo-la-raza img {
    width: 100%;
    }
.articulo-el-criadero {
    flex-direction: column;
    width: 100%;
    }
.articulo-el-criadero img {
    width: 100%;
    height: 50%;
    }
}