.art-exposicion-san-luis {
    display: flex;
    width: 100%;
    text-align: justify;
    align-items: center;
    }
.parrafo-exposicion{
    margin-left: 20px;
}
.art-nuevos-ejemplares {
    display: flex;
    width: 100%;
    text-align: justify;
    align-items: center;
    }
.parrafo-nuevos-ejemplares{
    margin-left:20px;

}
.art-ejemplares-enviados {
    display: flex;
    width: 100%;
    text-align: justify;
    align-items: center;
    }
.parrafo-ejemplares-enviados{
    margin-left:20px
}
    .imagen-avion {
    width:39vh;
    }

@media (max-width: 845px){
.art-exposicion-san-luis {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
    }
.art-nuevos-ejemplares {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
    }
.art-ejemplares-enviados {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
    }
}
@media (max-width:565px){
.art-exposicion-san-luis {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    width: 100%;
    }
.art-nuevos-ejemplares {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    width: 100%;
    }
.art-ejemplares-enviados {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    width: 100%;
    }
.art-ejemplares-enviados img{
    width:100%;
}
}
@media (max-width:320px){

.exposicion-san-luis{
    width: 100%;
}
.exposicion-san-luis img{
    width: 100%;
}
.nuevos-ejemplares{
    width: 100%;}
.imagen-avion{
    width: 100%;
}
}