h2{text-align: center;}
.productos{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: center;
    }
.pollo-entero {
        width: 25%;
        height:fit-content;
        background-color:white;
        color:#c65157;
        margin-top:20px;
        margin-left:15px;
}
.pollo-entero img{
        width:100%;
        height:250px;
        object-fit: contain;
}
.pollo-chacra {
        width: 25%;
        height:fit-content;
        background-color:white;
        color:#c65157;
        margin-top:20px;
        margin-left:15px;
}
.pollo-chacra img{
        width:100%;
        height: 250px;
        object-fit: contain;
}
.pechuga {
        width: 25%;
        height:fit-content;
        background-color:white;
        color:#c65157;
        margin-top:20px;
        margin-left:15px;
}
.pechuga img{
        width:100%;
        height: 250px;
        object-fit: contain;
}
.pata-muslo{
        width:25%;
        height:fit-content;
        background-color: white;
        color: #c65157;
        margin-top:20px;
        margin-left:15px;
}
.pata-muslo img{
        width:100%;
        height:250px;
        object-fit: contain;
}
.alas {
    width: 25%;
    height:fit-content;
    background-color:white;
    color:#c65157;
    margin-top:20px;
    margin-left:15px;
}
.alas img{
    width:100%;
    height:250px;
    object-fit: contain;
}
.molida {
    width: 25%;
    height:fit-content;
    background-color:white;
    color:#c65157;
    margin-top:20px;
    margin-left:15px;
}
.molida img{
    width:100%;
    height:250px;
    object-fit: contain;
}
@media (max-width:845px){
h2{
        text-align: center;
        margin:10px;
    }    
.productos{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
.pollo-entero {
        width: 50%;
        height: 50%;
        background-color:white;
        color:#c65157;
        margin-bottom:20px;
        }
.pollo-entero img{
        width:50%;
        height: 50%;
    }
.pollo-chacra{
        width: 50%;
        height: 50%;
        background-color:white;
        color:#c65157;
        margin-bottom:20px;
    }
.pollo-chacra img{
        width:50%;
        height: 50%;
    }
.pechuga{
        width: 50%;
        height: 50%;
        background-color:white;
        color:#c65157;
        margin-bottom:20px;
    }
    
.pechuga img{
        width:50%;
        height: 50%;
    }
.pata-muslo{
        width: 50%;
        height: 50%;
        background-color:white;
        color:#c65157;
        margin-bottom:20px;
    }
.pata-muslo img{
        width:50%;
        height: 50%;
    }
.alas{
        width: 50%;
        height: 50%;
        background-color:white;
        color:#c65157;
    }
.alas img{
        width:50%;
        height: 50%;
    }
.molida{
    width: 50%;
    height: 50%;
    background-color:white;
    color:#c65157;
    }  
.molida img{
    width:50%;
    height: 50%;
}
}
@media (max-width:565px){
.productos{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
.pollo-entero{
        width:80%;
        height:50%;
    }
.pollo-entero img{
        width:80%;
        height: 50%;
    }
.pollo-chacra{
        width:80%;
        height:50%;
    }
.pollo-chacra img{
        width:80%;
        height: 50%;
    }
    
.pechuga{
            width:80%;
            height:50%;
    }
.pechuga img{
            width:80%;
            height:50%;
    }
    
.pata-muslo{
        width:80%;
        height:50%;
}
.pata-muslo img{
        width:80%;
        height:50%;
}
.alas{
    width:80%;
    height:50%;
}
.coraje img{
    width:80%
}
.molida{
    width:80%;
    height:50%;
}
.molida img{
    width:80%;
    height:50%;
}
@media (max-width: 524px) {
    
h2{
        text-align: center;
        margin:10px;
    }
.productos{
        display: flex;
        flex-direction: column;
    }    
.pollo-entero {
        width: 80%;
        background-color:white;
        color:#c65157;
        margin-bottom:10px;
        margin-right: 0;
    }
.pollo-entero img {
    width: 80%;
    height: 50%;
    }
.pollo-chacra {
        width: 80%;
        background-color:white;
        color:#c65157;
        margin-bottom: 10px;
        margin-right: 0;
    }
.pollo-chacra img {
    width: 80%;
    height:50%;
    }
.pechuga {
        width: 80%;
        background-color:white;
        color:#c65157;
        margin-bottom:10px;
        margin-right: 0;
    }
.pechuga img {
        width: 80%;
        height:50%;
    }
.pata-muslo {
        width: 80%;
        background-color:white;
        color:#c65157;
        margin-bottom:10px;
        margin-right: 0;
    }
.pata-muslo {
        width: 80%;
    }
.alas {
        width: 80%;
        background-color:white;
        color:#c65157;
        margin-bottom:10px;
    }
.alas img {
        width: 80%;
        }

.molida {
        width: 80%;
        background-color:white;
        color:#c65157;
        margin-bottom:10px;
        }
.molida img {
        width: 80%;
        }
}
h1{
    display: none;}

}

