footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        }
.sitio {
        width: 300px;
        height: 100px;
        }
.ubicacion {
        width: 300px;
        height: 100px;
        }
.redes {
        width: 300px;
        height: 100px;
}

@media (max-width:2000px) and (min-width:900px){
.sitio{
        margin-top: 100px;
}
.ubicacion{
        margin-top: 100px;
}
.redes{
        margin-top: 100px;
}
}
